In [19]:
salaries = [300,3000,4000,4500]
name = ["Prajwal" , "Ashok" , "Prabhat" , "Mayur"]

In [20]:
emp_name = "Ashok"

In [21]:
name.index(emp_name)

1

In [22]:
salaries[name.index(emp_name)]

3000

In [25]:
idx =0
for i in salaries:
    print(salaries[idx])
    idx =idx+1

300
3000
4000
4500

In [29]:
count =5
num =0
for i in salaries:
    print("* ")

*
*
*
*

In [1]:
distance = [44 ,120,230,30,555,39,99]

In [28]:
new_distance= []
for i in distance:
    if(i>=100):
        new_distance.append(i)

In [29]:
new_distance

[120, 230, 555]

In [30]:
print("44")

44

In [33]:

numbers = [1, 2, 3, -4, 5]

# GIven a list find the sum of numbers until a negative number comes.
num=0
for i in numbers:
    if(i >0):
        num = i+num
    else:
        break;

In [34]:
num

6

In [37]:
names =['Gafp' , 'Ydfa','tdaf', 'Odfa','udfa','Pdfasdf']
cap_names= []

In [42]:
idx = 0
for i in names:
    if(i[0].isupper()):
        cap_names.append(i)

In [43]:
cap_names

['Gafp', 'Ydfa', 'Odfa', 'Pdfasdf']

In [48]:
for idx , i in enumerate(names):
    if(i[0].isupper()):
        print(idx)

0
1
3
5