In [1]:
import numpy as np

In [3]:
# How to define numpy arrays
a = np.array([1,2,3])
a[2]

3

In [5]:
# 2 Dimensional numpy arrays
np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]])
# List of Lists becomes matrix

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
lst = [[1,2,3], [2,3,4], [4,5,6], [7,8,9]]
lst[3][1]

8

In [11]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]])
a[3][1]
a[3,1]
# Here don't have to use loc and all because there is no such thing as custom indexes
# All the indexes are 0,1,2,3,4....

8

In [12]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]])
# FInd the 0th and 2nd element from 3rd row
a[2,[0,2]]

array([4, 6])

In [14]:
# Find all the elements of 2nd row
a[1]
a[1,:]

array([2, 3, 4])

In [15]:
# Find the type of each value
a.dtype

dtype('int32')

In [18]:
# Pandas can contain different types of values 
import pandas as pd
pd.DataFrame({'A':[1,2,3], 'B':['a', 'b', 'c']})
# It contains string as well as int

   A  B
0  1  a
1  2  b
2  3  c

In [20]:
x = np.array([[1,2,3], ['a', 'b', 'c']])
# All elements were made strings
# So numpy can have only one data type 
x.dtype

dtype('<U11')

In [22]:
# You can change the dtype
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
a.dtype

dtype('float64')

In [25]:
# You can change the dtype when creating the numpy arrays
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'str')
a

array([['1', '2', '3'],
       ['2', '3', '4'],
       ['4', '5', '6'],
       ['7', '8', '9']], dtype='<U1')

In [26]:
a.ndim

2

In [28]:
a = np.array([1,2,3])
a.ndim

1

In [29]:
a.shape

(3,)

In [30]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float') 
a.shape

(4, 3)

In [31]:
# Total elements in array
a.size

12

In [32]:
# Find number of bytes used to store each element of numpy array
a.itemsize

8

In [33]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

In [34]:
a +b

array([5, 7, 9])

In [37]:
a/b

array([0.25, 0.4 , 0.5 ])

In [38]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
b = np.array([4, 5, 6])
a/b
# Here b has a shape unlike Series - it is horizontal in nature

array([[0.25      , 0.4       , 0.5       ],
       [0.5       , 0.6       , 0.66666667],
       [1.        , 1.        , 1.        ],
       [1.75      , 1.6       , 1.5       ]])

In [39]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
b = np.array([4, 5])
a/b

ValueError: operands could not be broadcast together with shapes (4,3) (2,)

In [42]:
a = np.array([[1], [2], [3]])
# How many rows?
# 3 rows
# 1 column
a

array([[1],
       [2],
       [3]])

In [46]:
b = np.array([3])
# How many rows? - 1
# How many columns - 1

In [47]:
a/b

array([[0.33333333],
       [0.66666667],
       [1.        ]])

In [48]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
b = np.array([[5,6,7], [6,7,8]])

# a Rows - 4, Columns - 3
# b ROws - 2, Columns - 3
a/b

ValueError: operands could not be broadcast together with shapes (4,3) (2,3)

In [49]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
b = np.array([5,6,7])

# a Rows - 4, Columns - 3
# b ROws - 2, Columns - 3
a/b

array([[0.2       , 0.33333333, 0.42857143],
       [0.4       , 0.5       , 0.57142857],
       [0.8       , 0.83333333, 0.85714286],
       [1.4       , 1.33333333, 1.28571429]])

In [50]:
a = np.array([[1,2,3], [2,3,4], [4,5,6], [7,8,9]], dtype = 'float')
b = np.array([[5,6,7]])
a/b

array([[0.2       , 0.33333333, 0.42857143],
       [0.4       , 0.5       , 0.57142857],
       [0.8       , 0.83333333, 0.85714286],
       [1.4       , 1.33333333, 1.28571429]])