In [1]:
import mysql.connector

In [ ]:
# Double click to make connection
conn = mysql.connector.connect(host = 'localhost', user = 'root', password = 'Welcome@123', database = 'finance')

In [ ]:
# Textbox to write query
cursor = conn.cursor()
# Write the query and run it
cursor.execute('select * from card_holder')

In [ ]:
# Get the results of query
rows = cursor.fetchall()

In [ ]:
rows

In [ ]:
pip install SQLAlchemy

In [2]:
import sqlalchemy
import pandas as pd
from urllib.parse import quote_plus

In [3]:
password = quote_plus('Welcome@123')
password

'Welcome%40123'

In [5]:
# Learn to make connection string
# A web string looks like this - 
# https://www.facebook.com/myprofile

# 1. name of database
# 2. username:password 
# 3.@yourdbserver:port_number
connection_string = "mysql+pymysql://root:Welcome%40123@localhost:3306/finance"

# Your need a messenger
# Messenger is known as enginer
engine = sqlalchemy.create_engine(connection_string)

In [4]:

df = pd.read_sql("select * from card_holder", engine)
df['another_column'] = True

NameError: name 'engine' is not defined

In [7]:
df = pd.DataFrame({'A':[1,2,3,4], 'B':[45985098, 9740489, 9840948, 970948]})

In [8]:
# oracle+cx_oracle://root:Welcome%40123@localhost:3306/finance
df.to_sql("card_holder", con = engine, if_exists = 'replace')

In [ ]:
# Easier method

In [9]:
import pymysql

In [10]:
conn = pymysql.connect(host = 'localhost', user = 'root', password = 'Welcome@123', database = 'finance')

In [11]:
df = pd.read_sql("Select * from card_holder", conn)

In [12]:
df

   index  A         B
0      0  1  45985098
1      1  2   9740489
2      2  3   9840948
3      3  4    970948

In [14]:
lst = [2,3,4,5,6,8,10]
[x for x in lst if x%2 == 0]

[2, 4, 6, 8, 10]